

/* Модальное окно */
.parking-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: #222;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking-image {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 14px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
